body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formulario label {
  display: block;
  width: 100%;
  text-align: center;
}

.formulario input,
.formulario select {
  text-align: center;
}

.formulario button {
    box-sizing: border-box;
    font-size: 1.2rem;
    max-width: 50px;
    min-width: 300px;
    padding: 16px 0;
    width: 80% !important;
}